*{
    margin: 0px;
    
}
.frontpage{
    display: flex;
    background-image: linear-gradient(white,#6ED4FF);
    height:100vh;
}
input{
     border-top-style: hidden; 
    border-right-style: hidden;
    border-left-style: hidden; 
    border-bottom-style: hidden;
    
}
input:focus{
    outline: none;
}
.welcome-text{
font-size: 2vw;;
font-family: Montserrat;
text-align: left;
letter-spacing: 0.47px;
color: #5C5C5C;
opacity: 1;
}
.below-text{
width: 20vw;
font-size: 2vw;
font-family: Montserrat;
height: 63px;
/* UI Properties */
text-align: left;
letter-spacing: 0.47px;
color: #5C5C5C;
opacity: 1;
}
.left-side{
width: 50vw;
padding-top:30vh;       
padding-left: 10vw;
}

.text-small{
    color:#5C5C5C;
    opacity: 100%;
    font-family: Montserrat-Regular;
    padding-top:5vh;
    font-size: 1.5vw;
}
.small-text{
    padding-top: 10vh;
    font-family: Montserrat-Regular;
    font-size: 12px;
    color: #565657;
}
.btns { 
    margin-top: 2vh;
    background-color: #278DF1;
    border-radius: 15px;
    color: whitesmoke;
    border: none;
    outline: none;
    font-family: Montserrat;
    width: 12vw;
    height: 6vh;
    font-size: 10px;
    font: normal normal bold 12px/18px Montserrat;
}


/* Right Side */
.Inner-box{
margin-left: 7vw;
margin-top: 20vh;
height: 60vh;
width:30vw;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 30px #00000029;
border-radius: 20px;
opacity: 1;
/* text-align: center; */
}

.Sign-in-heading{
    text-align: center;
    font-family: Montserrat;
    font-size: 2vw;
    opacity: 1;
    padding-top: 5vh;
}

.Below-heading{
    text-align: center;
    padding-top: 3vh;
    color: #808080;
    font-size: 1.5vw;
}


.inp{
    left:0;
    color:#77838F;
    border-bottom: 1px solid lightgray;
    margin-left: 6vw;
    margin-right: 6vw;
    padding-top: 3vw ;
    
}
.signin-button{
    margin-top: 7vh;
    margin-left:10vw;
    border-radius: 20px;
    background-color: #278DF1;
    color: white;
    border: none;
    outline: none;
    width: 10vw;
    height: 5vh;
    font-family: Montserrat;
}

