*{
  margin: 0;
}
.main{
  width: 100%;
  height: 100%;
  display: flex;
  /* text-align: center; */

}
.left-nav{
  width:3.5%;
  padding-top: 40vh;
  background-color: #278DF1;

}
.left-nav span{
  text-decoration: none;
  display: list-item;
  padding-top: 2vh;
  padding-left: 1vw;
}
.right{
  padding-left: 87.5vw;
  
}

.picture-nav{
  height: 5vh;
  width: 2.5vw;
  margin-left: 87vw;
  margin-top: -4vh;
  border-radius: 50px;
  /* border: 1px solid black; */
  background-color: rgb(52, 183, 216);
  /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAS1BMVEX///+np6ednZ3q6uqlpaWpqamioqKgoKD8/Pz5+fmampqvr6/19fW3t7fQ0NDe3t7o6OjY2NjJycm9vb3h4eHExMTAwMDNzc2UlJSO68cvAAAG/0lEQVR4nO2di3LjKgyGDebqu3Np9/2f9ABO02zXSTCWjdyjr9PZ2Zl2138EkhACFwVBEARBEARBEARBEARBEARBEMT/FJP7AYh0jLW2KYehLBtrf5MlgxYzjKezVBUPVJzVH13f5H40MJr+zIRSgjmklOHb/V2Juit/gy2HK+PKSWMTXt4dxdvOazywTtNLLr7lBcT3X51apU9HHq1Dy7288CX/EvpoSHE6qg2btmIRODtWfe5nXYw3Si+UfK+PSeG+eHusyRicxwePMSC7jWIlLrmfeiFNy51p4hS6H3N2VGPuZ15EI6NG6LcN3Z+8y/3Ukfgh2jARq+8BdQiJwV00dbwFH+Ejfn8zJaG1cvMqRaLGPxdNYUxx0uxHGhOH+xV+iPym4yJFX0DUNvfjv8fExsE5K0p1yv38bzHnpBl4UyjYH/TjdOCpI3RK4ERrkDtUFpvKPJHIOPIsfFTJ8phP3ty3QG1D06b70ZsZGe4EdeArBXpDtpgjhjPhiml4syIvc8t4TqNW6/PD9CO3jueMLuNeb0PBcut4TvuzrpaGQhowTGFXhYoHhZ8F0ogxVAAG9CGxRSnPfegnIBtKbQucRmxXJN0P+ly8GHJLmaepIQR6wkRESAkwCyfEObeWeXqgaeioc2uZZ9RwCjG6maLo4GwocaamVziFDKfCNRWaHyDdp4EJhwGFVGFaLX9WYY8ypakBbYhzdfH7FbbrF/joFUIJxKoQMFog9aWQER/n8qmDixZIs7ZRwynEWRT+/aunAczTiDa3lnkaqEEq1TW3lidA1Wkk2j3EFmYiSlZh3eoGW+QrnK60KMqoftL3YK15F4Vd0WjyiEZaLp32uCFAmnd7PpUE2V7D6miK4iJAlohIMxqPARmlGnOf6Xl9vJBM4x2kbphy+cu7TSBSU9WhrCR+AbDORz1I3Qpq9f4T1pXTnTWtiQF+wbmFf2dc2xaFvg968jXpIrEfujDe1yTL85GmMrjHqCd9CSXwdmH8hTdi+ij1oQK3EU1RhvbEJI0S78rwL04q0YZS6GMc1DcpUV8GEyJ3pHdSG2sU0jaafzHLC6fBhBznntocZcrBGamQdrPNkrDEkEzhXlT8QC6OGHhL+f/i3cVlcekU8xmEWTq9MCiKo/jRCfe09bJllMK5c/8Kuyg7PeDNGD5k+Orpe5X+Jw43CSdGLSPO0Hifq9BuNr3CPfMYVT2VTNTFAda9PwkP/KlYlEbrj/EfjnCFS1S74rQoPKLGYsre3k7ECmcDVByXmBRcYK8fvqKJKEvh3bWPwUZMwwNcFPECW79P3bDXgF/jFL71NAdXGBEtjq2wqd7n38dW2EWUTgXWRsQo6ogLo4Q8cLTwhdN3ialkWE/9RhB5iQT6fe2nNFEFN/czviX4WCN1urWt16HLLWIFzPTJHk1jYcc2JN2RDUSq7g5VDjZDq/X9wqioZT5Tuj7O5dBjrRP6hqTg8opcY6i1NGOlVFJTjb8D+0/d2+mfwjgvw1ON0leflu9y3y5SlkLXqJO4Ufjpt9x8D0rdjFQd1kX/MBXyV/Z9uV/W8tNiG6R+Ap4ruFOyWozIFLoJqOFOkHqUuKDSWNbaDU4wEwZ4i6LKGD5ne72V7+Eken+s9AcCl+MVegPC6vtSqWT27gwv8BPoLNCMRJfntBnTnCnvaM6bCWTBjOzy/d/lYNBwB7ifiKyu9nbJ9O64/7ITMPcIvhDol1ZlHhO6j/Ws4YL8c40iXNaeA1sDXqLwGnXd24YhSLC1N+ouQN+OCu0ptBewadpLnE/1XW/76XN+7eLyUOA07aXC3e/K6MKVyDv4mbtAJqp9KsfTQAG8Xm8Bt1trNh+rJlhwPyfzQGgi3mEymj6uTQYcwfQ+mXivb+/g2hsX+3W5efuU86IRPTKbIfT2HrXxiQzMsfulTPvJzfRBb4bNI+5bpdjuUMY0/gEvR0xEb9d/4wWe+JqDaQDIDW8k8AIHtbriC6Bxw3cmWf71krSM+tiWZ4XPmc33hTpt5EzHFe8BgmWjl3xYnTdQPLJNx+ZH9kDxhdzmHXQDX7c1CIn7qGGdTRgSvlUUiRH9i0vhg6Jb9CKS6FYZ0C04psaiLiCnzAZSYp9pWf8Ml1kBh/1weBnNKGX+sBSsO72giRR3BOylZ4A3WUMhQW/ItBDvOYIG9B7XmH7t3QF9LWuLUKCTCFIEDxGnXHXlzGYA5jXQ7UAwSEBvmr/8NIO/VApMYZW7NjOHBIwXMWd7cgCX1owYYwXzExEqIiZf/LQxEuz9bICv5gBFQl11CnXF8wbUMK4mvNcQ5TCFuTXawL3zABbv3wVA3dRAvrkRHAVTGS6RTkO/DQWksOJY+QPTYmOHEisDgkZwgiAIgiAIgiAIgiAIgiAIgiAI4v/DfwBZWoKDwAKBAAAAAElFTkSuQmCC') 0% 0% no-repeat padding-box; */
}
.top-nav{
  width: 100%;
  padding-top: 2vh;
  height: 4vh;
  padding-left: 6vw;
  margin-left: -5vw;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 8px #00000029;
  opacity: 1;
}

/* ------------------ */

.navbar {
  width: 100%;
  padding-top: 3vh;
}

.navbar span {
  font-family: Open Sans;
  float: left;
  color: black;
  padding: 1vw;
  font-size: 2vw;
  padding-left: 2vw;
}
.search-container {
  padding: 1vw;
  
}

.search-container input[type=text] {
  padding: 4px;
  margin-top: 4px;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid #a7bcc3;
  
}
.search-container input[type=text]:focus{
  outline: none;
}

.search-container button {
  float: right;
  margin-right: 6vw;
  padding: 0.5vw;
  background: #278DF1 ;
  font-size: 17px;
  border: none;
  border-radius: 5px ;
  cursor: pointer;
  color: white;
}

.title{
  font-family: Open Sans;
  width:100%;
  background-color: #b1a3a329;
  margin-top: 5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.title span{
  padding-left: 10vw;
} 

.title span:first-child{
  padding-left: 6vw;
}


.icon2{
 margin-left: -5px;
  background-color: #FFFFFF;
  padding-bottom: 5px;
}
.three{
  height: 3vh;
}
.sort-image{
  height: 3vh;
  float: right;
  padding-right: 3vw;
  padding-top: 1vh;
  cursor: pointer;
}

 .first-tdd{
  padding-left: 6vw;
  width: 14vw;
  background: #FAFDFF 0% 0% no-repeat padding-box;
  padding-top: 2vh;
  height: 2vh;
} 
.description-table2{
  height: 2vh;
  width: 16vw;
  background: #FAFDFF 0% 0% no-repeat padding-box;
}
.third-td{
  height: 2vh;
  width: 12vw;
  background: #FAFDFF 0% 0% no-repeat padding-box;
}
.forth-td{
  height: 2vh;
  width: 15.5vw;
  background: #FAFDFF 0% 0% no-repeat padding-box;
}
.fifth-td{
  height: 2vh;
  width: 14vw;
  background: #FAFDFF 0% 0% no-repeat padding-box;
} 

.three{
  padding-bottom: 39vh;
}
.btn-edit{
 
  margin-right: 1vw;
  width: 50px;
}

.hide{
  display: none;
}